.seg {
    cursor: pointer;

    width: 150px;
    height: 45px;

    transition: 0.1s all;
    filter: brightness(0.2);

    position: absolute;

    & img {
        width: 100%;
        height: 100%;
    }

}

.active {
    filter: brightness(0.8);
}

@media screen and (max-width: 550px) {
    .seg {
        width: 110px;
        height: 35px;
    }
    
}

@media screen and (max-width: 320px) {
    .seg {
        width: 70px;
        height: 20px;
    }
    
}